<nav class="navbar navbar-expand-sm navbar-dark bg-primary p-0">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Control Clientes</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
            <li class="nav-item px-2">
                <a routerLink="/" class="nav-link">Inicio</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa-solid fa-user"></i>Bienvenido
                </a>
                <div class="dropdown-menu">
                    <li><a class="dropdown-item" href="/configuracion"><i class="fa-solid fa-cog"></i> Configuración</a></li>
                    <li><a class="dropdown-item" href="/login"><i class="fa-solid fa-user"></i> Login</a></li>
                    <li><a class="dropdown-item" href="/editar-clientes">Editar Clientes</a></li>
                    <li><a class="dropdown-item" href="/tablero">Control de Clientes</a></li>
  
                </div>
            </li>
        </ul>
    </div>
</nav>
    <!-- Barra de Navegación -->
    <!-- <nav class="navbar navbar-expand-md navbar-light bg-primary p-0">
        <div class="container">
            <a routerLink="/" class="navbar-brand">Control Clientes</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-toggler"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-toggler">
            <ul class="navbar-nav d-flex justify-content-center align-items-center">
              <li class="nav-item px-2">
                <a class="nav-link active" aria-current="page" href="#Inicio">Inicio</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-3">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-user"></i>Bienvenido
                    </a>
                    <div class="dropdown-menu">
                        <a routerLink="#configuracion" class="dropdown-item">
                            <i class="fa-solid fa-cog"></i>Configuración
                        </a>
                    </div>
                </li>
            </ul>
            ///////// -->
                  <!-- <li class="nav-item">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#proyectos">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#courses">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul> 
          </div>
        </div>
      </nav>-->
      <!-- <nav class="navbar navbar-expand-md navbar-light bg-primary p-0">
        <div class="container">
            <a routerLink="/" class="navbar-brand">Control Clientes</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-toggler"
                aria-controls="navbarTogglerDemo01"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-toggler">
              <ul class="navbar-nav d-flex justify-content-center align-items-center">
                <li class="nav-item px-2">
                  <a class="nav-link active" aria-current="page" href="#Inicio">Inicio</a>
                </li>
              </ul>
  
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-target="#lista-bienvenido">
                  Bienvenidos
                </button>
                <ul class="dropdown-menu dropdown-menu-right" id="lista-bienvenido">
                  <li><a class="dropdown-item" href="/configuracion">Configuración</a></li>
                  <li><a class="dropdown-item" href="/login">Login</a></li>
                  <li><a class="dropdown-item" href="/editar-clientes">Editar Clientes</a></li>
                  <li><a class="dropdown-item" href="/tablero">Control de Clientes</a></li>
                </ul>
              </div>
            </div>
        </div>
    </nav>
    
   -->