<section class="bg-dark min-vh-100 d-flex align-items-center justify-content-center">
    <div class="mx-auto w-75 text-center">
      <h1 class="display-1 fw-bold text-success animate__animated animate__flash animate__infinite">404</h1>
      <p class="mb-4 display-4 fw-bold text-white animate__animated animate__bounceIn">Opps!</p>
      <p class="mb-4 fs-5 text-muted">No hemos podido encontrar la página. Puedes volver a la página principal desde el link.</p>
      <a routerLink="/" class="btn btn-primary fw-bold rounded-pill text-white animate__animated animate__rotateIn">Volver al... (Inicio)</a>
    </div>
</section>
